.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 20px; /* Réduire la marge pour les petits écrans */
  flex-wrap: wrap;
  text-align: justify;
}

.home h1, .home h2 {
  text-align: left;
  width: 100%; /* Assurez-vous que les titres prennent toute la largeur disponible */
}

.home .lefty {
  width: 100%;
  text-align: left;
}

.home li {
  margin-left: 20px;
  width: 100%;
  text-align: justify;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flores {
  width: 100%;
  height: 300px; /* Ajustez cette valeur selon vos besoins */
  object-fit: cover;
  object-position: center; /* Centre l'image si elle est coupée */
}



/* Media query pour les écrans de taille moyenne (tablettes) */
@media (min-width: 768px) {
  .home {
    margin: 0 50px; /* Ajuster la marge pour les tablettes */
  }
}

/* Media query pour les écrans larges (ordinateurs) */
@media (min-width: 1024px) {
  .home {
    margin: 0 200px; /* Conserver la marge pour les grands écrans */
  }
}
